@model MvcProje.Models.Entity.TblMusteriler
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.MusteriID);
        @Html.TextBoxFor(m => m.MusteriID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MusteriAdi)
        @Html.TextBoxFor(m => m.MusteriAdi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MusteriSoyadi)
        @Html.TextBoxFor(m => m.MusteriSoyadi, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>
}
